<!DOCTYPE html>
<html>
<head>
  <title>GameContestServer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

   <% flash.each do |level, message| %>
      <div class="alert alert-<%= level %>"><%= message %> </div>
  <% end %>
  
  <nav class="navbar navbar-inverse" role="navigation">
    <p class="navbar-text">Hi, click something</p> <!--add username once log on is fixed-->
      <button type="button" class="btn btn-default navbar-btn">Welcome</button>
      <button type="button" class="btn btn-default navbar-btn">Sign in</button>
      <button type="button" class="btn btn-default navbar-btn">List</button>
  </nav>
  
  <div class="container">
  <%= yield %>
  </div>

  
  
</body>
</html>