<!DOCTYPE html>
<html>
<head>
  <title>GameContestServer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

   <% flash.each do |level, message| %>
      <div class="alert alert-<%= level %>"><%= message %> </div>
  <% end %>
  
  <nav class="navbar navbar-inverse" role="navigation">
  <ul class="nav navbar-nav">
    <li <%= if current_page?(root_path) then 'class=active' end%>>
          <%=link_to 'Home', root_path %></li>
    <li <%= if current_page?(users_path) then 'class=active' end%>>
          <%=link_to 'Users', users_path %></li>
    <li <%= if current_page?(nil) then 'class=active' end%>>
          <%=link_to 'Login', nil %></li>
  </ul>
  </nav>
  
  
  
  
  
  
  <!--
  <nav class="navbar navbar-inverse" role="navigation">
    <p class="navbar-text">Hi, click something</p> <!--add username once log on is fixed    
    
    
    
    <button type="button" class="btn btn-default navbar-btn"><a href="/users">Welcome</a></button>
    <button type="button" class="btn btn-default navbar-btn"><a href="#">Sign in</a></button>
    <button type="button" class="btn btn-default navbar-btn"><a href="/users/new">Sign up</a></button>
    <button type="button" class="btn btn-default navbar-btn"><a href="/users">List</a></button>
  </nav>
  -->
  <div class="container">
  <%= yield %>
  </div>

  
  
</body>
</html>